<div class="runes">
    <table>
        <tr>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
        </tr>
        <tr>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
        </tr>
        <tr>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
        </tr>
        <tr>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
        </tr>
        <tr>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
            <td><img src="src/assets/images/runicIcon.svg" alt="rune"></td>
        </tr>
    </table>
</div>