<h2>What do you want to read?</h2>
<div class="tabs clearfix">
    <div class="tab active">
        ЭВМ
        <div class="tip">Технические средства обработки информации</div>
    </div>
    <div class="tab">
        ООП
        <div class="tip">Объектно-ориентированное программирование</div>
    </div>
    <div class="tab">
        OС
        <div class="tip">Операционная система</div>
    </div>
    <div class="tab">
        Анимация
        <div class="tip">О компьютерной анимации</div>
    </div>
    <div class="tab">
        VR
        <div class="tip">О виртуальной реальности</div>
    </div>
    <div class="tab-text"></div>
</div>