<h2>Text 2</h2>
<p>Twenty-three-year old Fabrice Ndayamdaze beams with pride whenever he speaks about his mother Basirice.</p>

<p>“My mother has been making paintings out of cow dung since she was 17 years old,” he says. “She learned from her mother. Among our people, learning how to make imigongo paintings was part of becoming a woman. After the genocide, my mother used that same
    skill to save our family.”</p>

<p>Imigongo is a traditional art form of the Rwandan people that is believed to date back to the 18th century. The basic process begins when a malleable mixture of cow dung and ash is sculpted onto a flat surface in elaborate geometric patterns. Once dry,
    the raised spirals, diamonds, zig-zags, or squares are painted using natural pigments. It is believed within the community that this technique was created and perfected by Prince Kakira, son to King Kemenyi of Gisaka.</p>

<p>Basirice Uwanmariya, 46, is proud to carry on the prince’s tradition with a namesake women’s art cooperative; Kakira Imigongo. Strolling through the yard of her one-story compound, Basirice points out her greatest masterpiece: a round temple-like structure
    with a straw roof and pad-locked door. “When Prince Kakira created imigongo, he applied the art directly onto the walls of his palace,” she says. “This is a replica of his home. We built this to honor his legacy.”
</p>
<p>Inside the hut, mazelike arrangements of free-standing walls are covered with a dizzying array of black and white patterns, framed in a burgundy border. Basirice’s magnum opus homage to 18th century Rwandan art feels ultra-modern, almost futuristic. But
    she treats the space with sacred reverence. She explains that it was important to honor the figure whose legacy has enabled her and many other Rwandan women to provide for themselves in the wake of the nation’s greatest tragedy. </p>